body {
	background-color: #555;
	margin: 0px;
}

html, body {	
	height: 100%; /* to make the container height 100% */
}

#pageContainer {
	width: 1020px;
	margin: 0px auto;
	height: 100%;
}

#pageContainer2 {
	background-color: #ddd;	
	position: absolute;
	width: 1000px;
	top: 25px;
	bottom: 0px;
	padding: 0px 10px;
	font-family: Verdana;
	font-size: 14px;
	margin: 0px auto;
}


/*
#header, #content, #footer {
	background-color: #ccc;
}
*/


/* Header */

#header {
	height: 170px;
	position: relative;
	margin-top: 10px;
	background-color: #bbb;
	-webkit-border-radius: 7px;
}

#logoswirl {
	position: absolute;
	top: -20px;
	left: -35px;
	height: 190px;
}

#logotext {
	position: absolute;
	z-index: 2;
	width: 350px;
	left: 60px;
	top: 23px;
}

#header_right {
	position: absolute;
	right: 5px;
	top: 5px;
	bottom: 5px;
	width: 240px;
}

#userBadgeContainer {
	height: 85px;
	margin-bottom: 2px;
	border: 1px solid #999;
	background-color: #aaa;
	-webkit-border-radius: 7px;
	position: relative;
}

#notSignedIn {
	position: absolute;
	top: 36px;
	text-align: center;
	width: 100%;
		
	display: none;
}

#userBadge {
	position: absolute;
	top: 11px;
	width: 100%;
	
}

#userPic {
	width: 50px;
	border: 1px solid #000;
	position: absolute;
	left: 10px;
	top: 6px;
}

#userInfo {
	position: absolute;
	left: 69px;
	top: 16px;
}

#userName {
	font-weight: bold;
}

#userLinks {
	font-size: 12px;
}

#searchContainer {
	position: relative;
	top: 130px;
	text-align: center;
	margin: 0px auto;
}

#search {
	font-size: 18px;
	width: 350px;
	height: 25px;
}

.searchButton {
	height: 28px;
	position: relative;
	top: -1px;
	margin: 0px -2px;
}



/* Content */

#content {
	margin: 10px 0px;
}


/* Footer */

#footer {
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	opacity: 0.6;
}