!!! 5
head
    title PicTwist
    link(href='stylesheets/style.css', rel='stylesheet', type='text/css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(type='text/javascript', src='javascripts/script.js')
  body
    #pageContainer
      #pageContainer2
        #header
          img#logotext(src='images/logotext.png')
          img#logoswirl(src='images/swirl.png')
          #header_right
            #userBadgeContainer
              // only one of these will actually be shown 
              #notSignedIn
                a(href='#') Sign in
                |  or 
                a(href='#') Join PicTwist
              #userBadge
                img#userPic(src='images/default_pic.png')
                #userInfo
                  #userName Username123456
                  #userLinks
                    a(href='#') My Albums
                    | | 
                    a(href='#') Sign out
          #searchContainer
            input#search(type='textbox', placeholder='Search for photos')
            input.searchButton(type='button', value='Search')
            input.searchButton(type='button', value='More Options')
        #content
          | Content goes here
          block content
        #footer
          | Some footer info © 2012