<!DOCTYPE html>
<head>

	<title>viewPhoto1</title>
	
	<link href="styles/styles2.css" rel="stylesheet" type="text/css">
	
</head>
<body>
	<div class="container">
		<div class="fancyimage">
			<img src="fancybox/demo/1_b.jpg" />
		</div>
		<div class="fancycontent">
			<p>Photo 1</p>
			<p>Tags: </p>
			<div class="tags">
				<a>mist</a>
			</div>
			<input type="text" class="newTag" rows="1" cols="10" placeholder="Add tag"/>
			<input type="button" class="submitTag" value="+"/></br>
			<input type="button" class="control" id="favoriteButton" value="Favorite"/>
		</div>
	</div>
	
	<div class="comments">
		<div class="comment">
			<h5>Example User</h5>
			<p>I hate this photo</p>
		</div>
		<div class="comment">
			<h5>Example User 2</h5>
			<p>I also hate this photo</p>
		</div>
	</div>
	
	<div class="newComment">
		<textarea class="commentText" rows="3" cols="33">Add a comment</textarea></br>
		<input type="button" class="submitComment" value="Post Comment"/>
	</div>
		
</body>

</html>