body {
	background-image: url('../img/bg.png');
	margin: 0px;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

html, body {	
	height: 100%; /* to make the container height 100% */
}

a {
	text-decoration: none;
	color: #11c;
}

#header a {
	color: #fff;
} 

a:hover {
	text-decoration: underline;
	color: #8080FF;
}


#pageContainer {
	width: 1000px;
	height: auto;
	min-height: 100%;
	margin: 0px auto;
	padding: 0 0px;
}

.thinBorder {
	border: 1px solid black !important;
}

.thinBorder_light {
	border: 1px solid rgba(100, 100, 100, 1) !important;
}

.thinShadow {	
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .5);
}

#userBadgeContainer .thinShadow {	
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8);
}

#content .thinShadow {
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8);
}


/* Header */

#header {
	position: relative;
	top: 0px;
	padding-bottom: 20px;
	height: 150px;
}

#header_bg {
	position: absolute;	
	left: 0px;
	right: 0px;
	height: 160px;
	background-color: #086989;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .9);
}

#logoswirl {
	position: absolute;
	top: 5px;
	left: 1px;
	height: 150px;
	z-index: 5;
}

#logotext {
	position: absolute;
	z-index: 10;
	width: 340px;
	left: 80px;
	top: 32px;
}

#header_right {
	float: right;
	width: 266px;
	margin: 10px;
}

#userBadgeContainer {
	height: 95px;
	border: 0px solid #FFD1A1;
	background-color: #18A1CF;
	position: relative;
	margin-bottom: 10px;
}

#notSignedIn {
	position: absolute;
	top: 32px;
	text-align: center;
	width: 100%;
}

#signInFormContainer {
	padding: 8px;
		
	display: none;
}

#signInBtn {
	margin-left: 4px;
}

#usernameField {
	width: 210px;
}

#passwordField {
	width: 134px;
}

#closeBtn {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings-white.png);

	background-repeat: no-repeat;
	
	background-position: -310px 2px;
	
	position: absolute;
	right: 8px;
	top: 8px;
	
	padding: 2px;
	
	-webkit-border-radius: 9px;
}

#closeBtn:hover {
	background-color: #333;
}

#userBadge {
	position: absolute;
	top: 16px;
	left: 2px;
	width: 100%;
}

#userPic {
	width: 50px;
	border: 1px solid #000;
	position: absolute;
	left: 10px;
	top: 6px;
}

#userInfo {
	position: absolute;
	left: 69px;
	top: 14px;
}

#userName {
	font-weight: bold;
	font-size: 16px;
}

#userLinks {
	font-size: 13px;
	margin-top: -2px;
}

#searchContainer {
	text-align: right;
	margin: 0px auto;
	padding-bottom: 0px;
}


.m-btn {	
	margin-top: 0 !important;
}


/* Content */

#content {
	padding: 5px 10px;
	padding-bottom: 73px;
}


/* Footer */

#footer {
	height: 60px;
	margin-top: -60px;
	text-align: center;
	font-size: 12px;
	opacity: 0.6;
	background-color: rgba(8, 105, 137, .7);

}

#footer p {
	padding: 1px;
	margin: 0;
}

#footer p:first-child {
	padding-top: 15px;
}




/*****************************************************
******************* General ***************************
*****************************************************/

h1 {
	padding: 0;
	margin: 18px;
	color: white;
	text-shadow: 0 0 6px black;
}


h3 {
	display: inline;
	margin: 8px;
	color: white;
	text-shadow: 0 0 6px black;
}

h4 {
	margin: 8px;
	color: black;
}


.fLeft {
	float: left;
}

.fRight {
	float: right;
}

.fLeft, .fRight {
}


.returnLink {
	display: block;
	font-size: 20px;
	padding: 10px;
	margin-bottom: 15px;
}


.centerBox {
	position: relative;
	top: 40px;
	width: 600px;
	margin: 0 auto;
	text-align: center;
	
	background-color: rgba(8, 105, 137, .5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8);
	padding: 20px;
	margin-bottom: 40px;
	
}

.box {
	text-align: center;	
	background-color: rgba(8, 105, 137, .5);
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .8);
	padding: 20px;
}

.centerAlign {
	text-align: center;
}

.boxDivider {
	height: 1px;
	margin: 20px -20px;
	background-color: rgba(0, 0, 0, .8);
}

.divider {
	height: 1px;
	margin: 20px -20px;
	background-color: rgba(0, 0, 0, .8);
}


.formContainer {
	display: inline-block;
	text-align:right;
}

.formContainer form {
	display: inline;
}


.imageList_title {
	font-size: 20px;
	padding: 10px;
}

.imageList {
	padding: 5px;
	margin-bottom: 20px;
}

.imageList_title ~ .imageList_title {
	border-top: 1px solid black;
}

.imageList img {
	height: 100px;	
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
	margin: 2px 4px;
	text-align: center;
}


#shareAlbum {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	width: 300px;
	margin: 20px auto;
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
	display: none;
}


/*************************************************/

#chooseFile {
	margin: 20px;
}

.adminFlags a {
	color: #fff;
}

.adminFlags {
	width: 500px;
	text-align: left;
}

.isFavorited {
	font-size: 14px;
	opacity: .7;
	padding: 2px;
}

.star {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings.png);

	background-repeat: no-repeat;
	
	background-position: -120px 0;
	
	position: relative;
	top: 2px;
}

.bigPhoto {
	width: 800px;
	margin: 0 auto;
}

.bigPhotoContainer {
	position: relative;
    display: table;
	margin: 0 auto;
}

.bigPhoto img {
	-webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 1);
}

.photoTitle {
	font-size: 26px;
	padding: 10px 5px;
}

.permalink {
	position: absolute;
	right: -1px;
	top: 15px;
}

#photoOptions {
	text-align: center;
	margin-top: 12px;
}

#photoOptions a {
	border: 1px solid rgba(100, 100, 100, 1);
}

.photoDesc {
	margin-top: 1px;
	margin-bottom: 10px;
	padding: 8px;
	-webkit-box-shadow: 0 0 1px 1px rgba(100, 100, 100, 1);
}

.noDesc {
	opacity: 0.6;
	font-style: italic;
}

#tags {
	margin-top: -2px;
	font-size: 12px;	
	text-align: center;
}

.tag {	
	-webkit-box-shadow: 0 0 1px 1px rgba(100, 100, 100, 1);
	margin-left: 5px !important;
	margin-bottom: 5px !important;
}

.tagContainer {
	display: inline;
	position: relative;
}


.flagBtn {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings.png);

	background-repeat: no-repeat;
	
	background-position: -310px -22px;
	
	position: absolute;
	right: -5px;
	top: -10px;
	
	z-index: 9999;
	
	padding: 2px;
	
	-webkit-border-radius: 9px;
	background-color: #bbb;
	
	display: none;
}

.flagBtn:hover {
	background-image: url(../metro/img/glyphicons-halflings-white.png);
	background-color: #b00;
}



#showAddTags {
	padding: 4px 0;
}

#addTags {
	padding-top: 10px;
	margin-bottom: -10px;
	display: none;
}

.comments {
	margin-bottom: 20px;
}

.comment {
	margin: 8px 0;
}

.comment_user {
	float: left;
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 5px;
}

.comment ~ .comment {
	margin-top: 14px;
}

.comment_time {
	float: right;
	font-size: 13px;
	opacity: 0.8;
}

.comment_body {
	position: relative;
	clear: both;
	padding: 7px;
	-webkit-box-shadow: 0 0 1px 1px rgba(100, 100, 100, 1);
}

.deleteCommentBtn {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings.png);

	background-repeat: no-repeat;
	
	background-position: -310px 2px;
	
	position: absolute;
	right: -7px;
	top: -5px;
	
	padding: 2px;
	
	-webkit-border-radius: 9px;
	background-color: #bbb;
}

.deleteCommentBtn:hover {
	background-image: url(../metro/img/glyphicons-halflings-white.png);
	background-color: #333;
}

.flagCommentBtn {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings.png);

	background-repeat: no-repeat;
	
	background-position: -310px -22px;
	
	position: absolute;
	right: -7px;
	bottom: -5px;
	
	padding: 2px;
	
	-webkit-border-radius: 9px;
	background-color: #bbb;
}

.flagCommentBtn:hover {
	background-image: url(../metro/img/glyphicons-halflings-white.png);
	background-color: #b00;
}



#commentForm {
	width: 500px;
	margin: 0 auto;
	text-align: right;
}

#commentForm textarea {
	width: 485px;
}

/*****************************************************
******************* register.php ************************
*****************************************************/


#registerValidation {
	float: left;
	height: 18px;
	padding: 8px;
	font-weight:  bold;
}

#editBio {
	height: 60px;
}


#passwordLengthMsg {
	color: white;
	position: absolute;
	top: 197px;
	left: 500px;
	display: none;
}

.passwordMatchIcon {
	position: absolute;
	top: 248px;
	left: 500px;
	
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings-white.png);

	background-repeat: no-repeat;
	
	display: none;
}


