body {
	background-image: url('../img/bg.png');
	margin: 0px;
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

html, body {	
	height: 100%; /* to make the container height 100% */
}

a {
	text-decoration: none;
	color: #000;
}

#header a {
	color: #fff;
} 

a:hover {
	color: #FFD1A1;
}


#pageContainer {
	width: 1000px;
	height: auto;
	min-height: 100%;
	margin: 0px auto;
	padding: 0 0px;
}

.thinShadow {	
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}

#userBadgeContainer .thinShadow {	
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .8);
}


/* Header */

#header {
	position: relative;
	top: 0px;
	padding-bottom: 20px;
	height: 150px;
}

#header_bg {
	position: absolute;	
	left: 0px;
	right: 0px;
	height: 160px;
	background-color: #086989;
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .9);
}

#logoswirl {
	position: absolute;
	top: 5px;
	left: 1px;
	height: 150px;
	z-index: 5;
}

#logotext {
	position: absolute;
	z-index: 10;
	width: 340px;
	left: 80px;
	top: 32px;
}

#header_right {
	float: right;
	width: 266px;
	margin: 10px;
}

#userBadgeContainer {
	height: 95px;
	border: 0px solid #FFD1A1;
	background-color: #18A1CF;
	position: relative;
	margin-bottom: 10px;
}

#notSignedIn {
	position: absolute;
	top: 34px;
	text-align: center;
	width: 100%;
}

#signInFormContainer {
	padding: 8px;
		
	display: none;
}

#signInBtn {
	margin-left: 4px;
}

#usernameField {
	width: 210px;
}

#passwordField {
	width: 131px;
}

#closeBtn {
	display: inline-block;

	width: 14px;
	height: 14px;
	margin-top: 0px;
	line-height: 14px;

	vertical-align: center;
	background-image: url(../metro/img/glyphicons-halflings-white.png);

	background-repeat: no-repeat;
	
	background-position: -310px 2px;
	
	position: absolute;
	right: 8px;
	top: 8px;
	
	padding: 2px;
	
	-webkit-border-radius: 9px;
}

#closeBtn:hover {
	background-color: #333;
}

#userBadge {
	position: absolute;
	top: 16px;
	left: 2px;
	width: 100%;
}

#userPic {
	width: 50px;
	border: 1px solid #000;
	position: absolute;
	left: 10px;
	top: 6px;
}

#userInfo {
	position: absolute;
	left: 69px;
	top: 14px;
}

#userName {
	font-weight: bold;
	font-size: 16px;
}

#userLinks {
	font-size: 13px;
	margin-top: -2px;
}

#searchContainer {
	text-align: right;
	margin: 0px auto;
	padding-bottom: 0px;
}


.m-btn {
	position: relative;
	top: -8px;
}


/* Content */

#content {
	padding: 5px 10px;
	padding-bottom: 73px;
}


/* Footer */

#footer {
	height: 60px;
	margin-top: -60px;
	text-align: center;
	font-size: 12px;
	opacity: 0.6;
	background-color: rgba(8, 105, 137, .7);

}

#footer p {
	padding: 1px;
	margin: 0;
}

#footer p:first-child {
	padding-top: 15px;
}