body {
	background-color: rgba(141, 223, 250, 1);
	margin: 0px;
}

html, body {	
	height: 100%; /* to make the container height 100% */
}

a {
	text-decoration: none;
	color: #FFF;
}

a:hover {
	color: #FFD1A1;
}

body {
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#pageContainer {
	width: 1000px;
	height: auto;
	min-height: 100%;
	margin: 0px auto;
	-webkit-box-shadow: 0 0 40px 3px rgba(0, 0, 0, .7);
	padding: 0 20px;
	background-color: rgba(255, 255, 255, .8);
}



/* Header */

#header {
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, .9);
	position: relative;
	top: 20px;
	margin-bottom: 20px;
	background-color: #086989;
}

#logoswirl {
	position: absolute;
	top: -20px;
	left: -35px;
	height: 190px;
	z-index: 5;
}

#logotext {
	position: absolute;
	z-index: 10;
	width: 350px;
	left: 60px;
	top: 23px;
}

#header_right {
	position: absolute;
	right: 10px;
	top: 10px;
	bottom: 5px;
	width: 240px;
}

#userBadgeContainer {
	height: 85px;
	margin-bottom: 2px;
	border: 0px solid #FFD1A1;
	background-color: #18A1CF;
	position: relative;
	-webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, .5);
}

#notSignedIn {
	position: absolute;
	top: 36px;
	text-align: center;
	width: 100%;
		
	display: none;
}

#userBadge {
	position: absolute;
	top: 11px;
	width: 100%;
	
}

#userPic {
	width: 50px;
	border: 1px solid #000;
	position: absolute;
	left: 10px;
	top: 6px;
}

#userInfo {
	position: absolute;
	left: 69px;
	top: 16px;
}

#userName {
	font-weight: bold;
}

#userLinks {
	font-size: 12px;
}

#searchContainer {
	padding-top: 125px;
	padding-bottom: 1px;
	text-align: center;
	margin: 0px auto;
}

#advSearch {
	color: #fff;
	display: none;
	padding-bottom: 10px;
}

#advSearch p {
	margin: 0px;
	margin-bottom: 4px;
}


/* Content */

#content {
	padding: 10px 0;
	padding-bottom: 70px;
}


/* Footer */

#footer {
	height: 60px;
	margin-top: -60px;
	text-align: center;
	font-size: 12px;
	opacity: 0.6;
	background-color: rgba(8, 105, 137, .7);

}

#footer p {
	padding: 1px;
	margin: 0;
}

#footer p:first-child {
	padding-top: 15px;
}